  <nav>
        <div class="logo">
            <h4><a href="/">Mongo Scraper</a></h4>
        </div>
        <ul class="nav-links">
            <li><a class="saved-articles-button" href="/savedArticles">Saved Articles</a></li>
            <li><a class="scrape-button" href="/api/scrape">Mongo Scrape!</a></li>
            <li><a class="clear-button" href="/api/clear">Mongo Clear!</a></li>
        </ul>
        <div class="burger">
            <div class="line1">

            </div>
            <div class="line2">

            </div>
            <div class="line3">

            </div>

    </nav>
 <div class="hero">
       <h1>Scraping with Mongoose</h1> 
    </div>
    <article id="main">
        <h2 style="text-align:center;">Node.js Express scraper utilizing Axios, Cheerio and MongoDB</h2>
        <section class="row">
            <section class="column">
                <img src="mongoosePic.jpg" id="profile-image">
            </section>
            <section class="column">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi error expedita velit earum repellendus consequuntur animi deserunt, atque nam accusantium pariatur sint nihil assumenda esse, illum enim, dignissimos magnam. Voluptatum!</p>
            </section>
        </section>
    </article>