  <nav>
        <div class="logo">
            <h4><a href="/">Mongo Scraper</a></h4>
        </div>
        <ul class="nav-links">
            <li><a class="saved-articles-button" href="/savedArticles">Saved Articles</a></li>
            <li><a class="scrape-button" href="/api/scrape">Mongo Scrape!</a></li>
            <li><a class="clear-button" href="/api/clear">Mongo Clear!</a></li>
        </ul>
        <div class="burger">
            <div class="line1">

            </div>
            <div class="line2">

            </div>
            <div class="line3">

            </div>

    </nav>
 <div class="hero">
       <h1>Saved articles view</h1> 
    </div>
    <article id="main">
<h2 style="text-align:center;">Node.js Express scraper utilizing Axios, Cheerio and MongoDB</h2>
        <section class="row">
            {{#each articles}}
            <div class="row">
            <h3><a href="{{link}}">{{title}}</a></h3>
            </div>
            {{/each}}
        </section>
    </article>