nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'poppins', sans-serif;
    background-color: dodgerblue;
}

.logo {
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 18px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-size: 16px;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

nav a:hover {
    color: #72BAFF;
    transform: scale(1.1);
}

.nav-links li {
    list-style: none;
    margin-top: 10px;
}

#git-icon {
    margin-top: 0px;
    transition: all 0.2s ease-out;
}

#git-icon:hover {
    color: #72BAFF;
    transform: scale(1.1);
}

@media only screen and (max-width:1024px) {
    .nav-links {
        width: 54%
    }
}

@media only screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: dodgerblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        cursor: pointer;
    }
    .burger div {
        width: 25px;
        height: 3px;
        background-color: rgb(226, 226, 226);
        margin: 5px;
        transition: all 0.3s ease;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}