@charset "utf-8";
body {
    background-color: whitesmoke;
    font-family: 'karla', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.1em;
    color: #17252A;
}


/* global fonts*/

p {
    font-family: 'karla', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.1em;
    color: #17252A;
}

h1 {
    font-family: 'montserrat', serif;
    font-size: 32px;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: #17252A;
}

h2 {
    font-family: 'montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: #17252A;
}


/* links */

a {
    color: #1e90ff;
    font-weight: 600;
    text-decoration: none;
    transition: .2s ease-in-out;
    font-family: 'poppins', sans-serif;
}

a:hover {
    color: #72BAFF
}

a:active {
    color: #72BAFF
}


/* layout */

.hero {
    /* height: 15vh;
    width: 100%; */
    /* background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    opacity: 90%; */
    /* position: relative; */
}

.hero h1 {
    text-align: center;
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* color: rgb(266, 266, 266); */
}

#main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

section {
    margin: 20px 0px 20px 0px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 50%;
    padding 10px;
    height: auto;
}


/* Images */

#profile-image {
    height: auto;
    width: 80%;
    animation: slideInFromRight 1s ease;
}

footer {
    bottom: 0;
    width: 100%;
    /* height: 3rem; */
    background-color: rgb(34, 34, 34);
    color: dodgerblue;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

span.icons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}


/* Media Queries */

@media only screen and (max-width:768px) {
    #main {
        width: 90%;
    }
    .column {
        flex: 100%;
    }
    #profile-image {
        width: 100%;
    }
    section {
        margin: 5px 0px 15px 0px;
    }
}


/* Accordion styles */

.accordion {
    background-color: rgba(255, 143, 30, 0.925);
    color: #17252A;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-bottom: 2px solid #201204;
    text-align: left;
    outline: none;
    transition: 0.2s;
    font-size: 18px;
}

.accordion.last-item {
    border: none!important;
}

.active,
.accordion:hover {
    background-color: #FFC71E;
    color: black;
}

.accordion h2:before {
    content: "\25b9";
    margin: 0 1em;
    font-size: 1.1em;
    color: rgb(18, 81, 145);
}

.accordion.active h2:before {
    content: "\25be";
    margin: 0 1em;
    font-size: 1.1em;
    color: #8F1EFF;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: #FFC71E;
    overflow: hidden;
    color: rgb(32, 42, 23);
}

@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.button-1 {
    border-radius: 50px;
    color: #17252A;
    border: 3px solid #262636;
    background-color: whitesmoke;
    cursor: pointer;
    font-weight: 600;
    transition: .15s ease-in-out;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.1;
    margin: 10px 15px 10px 15px;
    text-transform: uppercase;
}

.button-1:hover {
    color: whitesmoke;
    background-color: lightseagreen;
}